/*
    RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
/*
GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    width: 100%;
    margin: 0 auto;
}



/*
    A-SIDE
*/

aside{
    width: 200px;
    background-color: black;
    color: gray;
}








/*
    MAIN-SECTION 
*/

/* main section header  */
.main-section{
    width: calc(100% - 200px);
    height: calc(100vh - 80px);
    overflow-y: auto;
    background-color: #141921;
}

.main-section header{
    background-color: rgba(76, 84, 76, 0.4);
    height: 80px;
    position: sticky;
    top: 0px;
}

.main-section header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-section header div{
    margin-right: 50px;
}
.main-section header div a{
    text-decoration: none;
}
.button{
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 40px;
    color: white;
}

/* fine main section header  */

.main-section nav{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main-section nav{
    margin: 30px;
}

.main-section nav li{
    padding: 10px;
}

.main-section nav li a{
    text-decoration: none;
    color: #7D7F84;
}

/*
    MY ROW
*/

.recently-played-box{
    margin-left: 50px;
    margin-right: 50px;
}

.recently-played-box h2, .recently-played-box div p{
    margin-left: 10px;
}
.my-row{
    display: flex;
}
.my-col{
    width: calc((100% / 6) - 20px);
    margin: 10px;
}

.album-text{
    text-align: center;
}

/*
    FOOTER
*/

footer{
    height: 80px;
    background-color: #282828;
    display: flex;
    align-items: center;
    color: white;
}

footer i {
    font-size: larger;
    padding: 5px;
}

.flex-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.left-footer{
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 20px;
}

.left-footer img{
    height: 60px;
}

.left-footer h5, .left-footer h6 {
    padding: 5px;
}



.central-footer{
    width: 40%;
    text-align: center;
}

.right-footer{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-footer .track-line{
    margin-right: 20px ;
}



.track-line{
    width: 50%;
    background-color: #545454;
    height: 3px;
}

.track-progression{
    width: 20%;
    height: 3px;
    background-color: lightgray;
}

.track-box{
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;

}