/*
    RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
/*
GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    width: 100%;
    margin: 0 auto;
}



/*
    A-SIDE
*/

aside{
    width: 20%;
    background-color: black;
    color: gray;
}

#logo-box{
    display: flex;
}

/*
    MAIN-SECTION 
*/


.main-section{
    width: 80%;
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.main-section header{
    background-color: rgba(76, 84, 76, 0.4);
    height: 80px;
    position: sticky;
    top: 0px;
}

.main-section header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-section header div{
    margin-right: 50px;
}
.main-section header div a{
    text-decoration: none;
}
.button{
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 40px;
    color: white;
}

/*
    FOOTER
*/

footer{
    height: 80px;
    background-color: #282828;
    display: flex;
    align-items: center;
    color: white;
}

footer i {
    font-size: larger;
    padding: 5px;
}

.flex-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.left-footer{
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 20px;
}

.left-footer img{
    height: 60px;
}

.left-footer h5, .left-footer h6 {
    padding: 5px;
}



.central-footer{
    width: 40%;
    text-align: center;
}

.right-footer{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-footer .track-line{
    margin-right: 20px ;
}



.track-line{
    width: 50%;
    background-color: #545454;
    height: 3px;
}

.track-progression{
    width: 20%;
    height: 3px;
    background-color: lightgray;
}

.track-box{
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;

}



/* 
.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.central-footer{
    width: calc((100% / 3) * 2);
}

.left-footer{
    display: flex;
    align-items: center;
}

.left-footer img{
    display: block;
}

.fav-song-box{
    display: flex;
    align-items: center;
    width: 33%;
}

.fav-song-box div{
    width: 50%;
} */